*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: linear-gradient(
        to right,
        rgba(22, 143, 243, 0.543)0%,
        rgba(22, 143, 243, 0.543)50%,
        white 50%,
        white 100%
        );
}